In [1]:
import pandas as pd
import os

In [2]:
def count_files(path):
    return sum([len(files) for _, _, files in os.walk(path)])

In [3]:
n = count_files('data/')
n

31

In [5]:
#teste para 1 linha
df = pd.DataFrame()
i = 0
S_N = 'data/df_' +  str(i) + '.csv'
df_ler = pd.read_csv(S_N)
df = pd.concat([df,df_ler])

In [6]:
df.head()

   i    w       j1        j2  exact_energy     e_fact  calc_energy     c_fact
0  0  200 -0.34202 -0.939693      1.076923 -17.943979     1.072381 -17.943331

In [7]:
#for para todas as linhas
s = count_files('data/')
df = pd.DataFrame()
for i in range(0,s):
    S_N = 'data/df_' +  str(i) + '.csv'
    #ler a linha
    df_ler = pd.read_csv(S_N)
    df = pd.concat([df,df_ler])

In [8]:
len(df)

31

In [10]:
df.head(20)

,i,w,j1,j2,exact_energy,e_fact,calc_energy,c_fact
0,0,200,-3.420201e-01,-9.396926e-01,1.076923,-17.943979,1.072381,-17.943331
0,1,210,-5.000000e-01,-8.660254e-01,1.076923,-19.124356,1.079819,-19.123273
0,2,220,-6.427876e-01,-7.660444e-01,1.076923,-19.723649,0.765351,-16.881811
0,3,230,-7.660444e-01,-6.427876e-01,1.076923,-19.723649,0.729751,-17.008119
0,4,240,-8.660254e-01,-5.000000e-01,1.076923,-19.124356,0.677778,-16.505325
0,5,250,-9.396926e-01,-3.420201e-01,1.076923,-17.943979,0.910204,-17.074842
0,6,260,-9.848078e-01,-1.736482e-01,1.076923,-16.218383,0.573288,-14.162397
0,7,270,-1.000000e+00,-1.836970e-16,1.076923,-14.000000,0.536145,-12.638326
0,8,280,-9.848078e-01,1.736482e-01,1.076923,-11.356234,0.377959,-10.642195
0,9,290,-9.396926e-01,3.420201e-01,0.436940,-10.383929,0.345034,-8.961794
0,10,300,-8.660254e-01,5.000000e-01,0.383871,-13.520562,0.332063,-10.116880
0,11,310,-7.660444e-01,6.427876e-01,0.353376,-16.364473,0.305125,-12.709180
0,12,320,-6.427876e-01,7.660444e-01,0.331247,-18.781475,0.287574,-16.713351
0,13,330,-5.000000e-01,8.660254e-01,0.313961,-20.685561,0.288844,-17.680307
0,14,340,-3.420201e-01,9.396926e-01,0.300225,-22.016190,0.287347,-18.423029
0,15,350,-1.736482e-01,9.848078e-01,0.290129,-22.737536,0.287029,-18.377374
0,16,360,-2.449294e-16,1.000000e+00,0.285714,-22.841434,0.286032,-22.805994
0,17,370,1.736482e-01,9.848078e-01,0.286248,-23.054479,0.285941,-22.773888
0,18,380,3.420201e-01,9.396926e-01,0.288169,-22.697730,0.286893,-22.506656
0,19,390,5.000000e-01,8.660254e-01,0.293331,-21.796237,0.289161,-21.468719

In [11]:
df.to_csv("df_210_.csv", index=None)

In [12]:
df = pd.read_csv("df.csv")

In [13]:
df.head()

   i   w        j1        j2  exact_energy     e_fact  calc_energy     c_fact
0  0  10  0.173648  0.984808      0.286248 -23.054479     0.286304 -22.948972
1  1  20  0.342020  0.939693      0.288169 -22.697730     0.286621 -22.131206
2  2  30  0.500000  0.866025      0.293331 -21.796237     0.289252 -20.846262
3  3  40  0.642788  0.766044      0.311806 -20.420408     0.422676 -19.325098
4  4  50  0.766044  0.642788      0.451862 -18.788225     0.970340 -17.659924

In [14]:
df2 = pd.read_csv("df_210_.csv")

In [15]:
df2.head()

   i    w        j1        j2  exact_energy     e_fact  calc_energy     c_fact
0  0  200 -0.342020 -0.939693      1.076923 -17.943979     1.072381 -17.943331
1  1  210 -0.500000 -0.866025      1.076923 -19.124356     1.079819 -19.123273
2  2  220 -0.642788 -0.766044      1.076923 -19.723649     0.765351 -16.881811
3  3  230 -0.766044 -0.642788      1.076923 -19.723649     0.729751 -17.008119
4  4  240 -0.866025 -0.500000      1.076923 -19.124356     0.677778 -16.505325

In [16]:
df = pd.concat([df,df2])

In [17]:
df.to_csv("dff.csv", index=None)